.splash-container {
  position: fixed;
  inset: 0;
  background-color: #591E8C; /* ou branco, ou qualquer fundo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease 1.5s forwards;
}

.splash-logo {
  width: 150px;
  height: auto;
  animation: fadeIn 1s ease;
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}