input::placeholder {
  font-size: 11px;
}
.mainc h2{
  color: white;
}
.mainc label{
  color: white;
}

.mainc{
width: 414px;
height: 120%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 40px;
}
.input{
  width: 250px;
  height: 30px;
  font-size: 17px;
}
.button{
  width: 250px;
  height: 30px;
  background-color: blueviolet;
  border: none;
  color: white;
}
