:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
}
body {
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior: none;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;  /* Esconde a barra de rolagem vertical */
  height: 0; /* Esconde a barra de rolagem horizontal */
  background: transparent; /* Torna o fundo da barra transparente */
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
html, body {
  background-color: #591E8C; /* ou o fundo do seu app */
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
  padding: 0;
}