:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
}
body {
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior: none;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(245, 222, 179, 0) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(245, 222, 179, 0) !important;

}
html, body {
  background-color: #591E8C; /* ou o fundo do seu app */
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
  padding: 0;
}