* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  
}
@supports (-webkit-touch-callout: none) {
  body::-webkit-scrollbar {
    display: none;
  }
}
body::-webkit-scrollbar {
  display: none; /* Safari e Chrome */
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #8A05BE;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scrollbar-width: none;
}
.menudecima{
    width: 414px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 23px;
    padding: 25px;
}
.mainpix{
    padding: 25px;
    width: 414px;
    height: fit-content;
    padding-top: env(safe-area-inset-top);
    background-color: black;
    border-bottom: 2px solid #232323;
}
.mainpix p{
    font-size: 26px;
    font-weight: 500;
    color: white;
    margin-bottom: 29px;
}
.barraroxa1{
    width: 365px;
    height: 48px;
    background-color: #32104D;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #BF8DF1;
}
.mainpix2{
    width: 414px;
    height: fit-content;
    padding-top: 20px;
    background-color: black;
    border-bottom: 2px solid #232323;
}
.faixadeiconespix{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}
.iconepixs{
    width: 73px;
    height: 116px;
}
.iconemainpix{
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: #222222;
    border-radius: 50%;
}
.textodoicone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 73px;
    color: white;
    font-weight: 350;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}