
.gif{
  height: 35px;
  width: 35px;
  margin-top: 18px;
}
.pull-refresh2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: black;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: gray;
  transform: translateY(-100%);
  transition: transform 0.1s ease;
  z-index: 1000;
}
.pull-refresh2.show {
  transform: translateY(0);
}
.flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0; /* Começa invisível */
  z-index: 9999; /* Garante que fique por cima de tudo */
  pointer-events: none; /* Permite interagir com elementos por baixo quando invisível */
}

.flash-overlay.show-flash {
  opacity: 1; /* Fica visível (preto) */
}
.mainSaldo{
    width: 414px;
    height: fit-content;
    padding-top: env(safe-area-inset-top);
    width: 100%;

}
.barra1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A6A6A6;
    font-size: 25px;
    padding: 25px 25px 30px 25px ;
}
.saldodisp{
    height: fit-content;
    width: 414px;
    color: white;
    padding: 0 25px 35px 25px;
}
.saldodisp p{
    font-size: 15px;
    color: #A6A6A6;
}
.saldogrande{
    font-size: 35px;
    font-weight: 500;
}
.infos{
    height: fit-content;
    width: 414px;
    padding: 10px 25px 30px 25px ;
    color: white;
    display: flex;
    justify-content: space-between;
}
.esq{
    display: flex;
}
.infosfirsticon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-right: 15px;
}
.dir{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A6A6A6;
}
.infostext p:first-child{
    color: #A6A6A6;
    font-size: 15px;
    padding-bottom: 5px;
}
.rend p{
    font-size: 14px;
    padding: 0 0 0 3px;
}
.rend{
    display: flex;
    height: 13px;
    align-items: center;
    color: #62B87E;
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}
.novidade{
    height: 20px;
    width: 70px;
    background-color: #7931b8;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.options{
    display: flex;
    width: 414px;
    overflow-y: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #232323;
}
.optionsmain{
  width: 76px;
  height: 130px;
  position: relative;
  margin-right: 14px;
  padding-left: 25px;
}
.optionsicone{
  width: 76px;
  height: 76px;
  border-radius: 41px;
  color: white;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.optionsicone2{
  width: 76px;
  height: 76px;
  border-radius: 41px;
  color: white;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.optionstexto{
  width: 76px;
  height: 51px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 15px;
}
.ads{
    height: fit-content;
    width: fit-content;
    padding: 0 25px;
    background-color: #000000;
    margin-top: 25px;
    margin-bottom: 30px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 364px;
    background-color: #2A276E;
    color: white;
    font-weight: 300;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px;
}
.empicon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: #1F1B4F;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    color: #AF7BF9;
}
.historico{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 25px;
    font-size: 18px;
    height: 60px;
    width: 414px;
}
.histicons{
    display: flex;
    color: #AF7BF9;
    font-size: 22px;
    gap: 20px;
}
.centbusca{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 414px;
}
.busca{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    color: #A1A1A1;
    height: 45px;
    width: 364px;
    background-color: #222222;
    border-radius: 25px;
}
.compras{
    height: 200px;
}