.menuvert{
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.menuverticon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #222222;
    margin-bottom: 20px;
}
.mainTransferir{
    width: 414px;
    height: fit-content;
    background-color: black;
    color: white;
}
.trans1{
    padding: 0 25px;
}
.line0{
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: 500;
}
.line{
    display: flex;
    margin-bottom: 5px;
}
.line2{
    color: #A6A6A6;
    margin-right: 7px;
}
.menutrans{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: #A6A6A6;
    font-size: 20px;
}
.inserir{
    width: 414px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
}

.inseririnput{
    width: 330px;
    height: 36px;
    background-color: black;
    border: none;
    border-bottom: 2px solid #232323;
    color: white;
    padding-left: 10px;
    font-size: 28px;
    outline: none;
    font-weight: 500;
}
.inseririnput::placeholder {
    font-weight: 500;
    color: white;
    font-size: 28px;
}
.inserir p{
    border-bottom: 2px solid #232323;
    font-size: 28px;
}
.fim{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    color: #BC8AFB;
    font-size: 16px;
    margin-top: 25px;
}
.fimicon{
    font-size: 22px;
}